<a href="https://colab.research.google.com/github/cxwmintz/data_bootcamp07/blob/main/Sprint%2009%20-%20Essential%20Python%20for%20Data%20Analyst/HW02_sklearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

mtcars = pd.read_csv("https://gist.githubusercontent.com/seankross/a412dfbd88b3db70b74b/raw/5f23f993cd87c283ce766e7ac6b329ee7cc2e1d1/mtcars.csv")
mtcars.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [ ]:
# prepare data
# mpg = f(cyl,hp,wt,gear)

X = mtcars[ ["cyl","hp","wt","gear"] ]
y = mtcars[ "mpg" ]

# split data

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

Linear Regression

In [ ]:
# train model
model = LinearRegression().fit(X_train, y_train)

# test model/scoring
pred = model.predict(X_test)

# evaluate model
## MAE mean absolute error
ln_mae = np.mean(np.absolute((y_test - pred)))

## MSE mean square error
ln_mse = np.mean((y_test - pred)**2)

## RMSE root mean square error
ln_rmse = np.sqrt(np.mean((y_test - pred)**2))

Decision Tree

In [ ]:
# train model
model = DecisionTreeRegressor().fit(X_train, y_train)

# test model/scoring
pred = model.predict(X_test)

# evaluate model
## MAE mean absolute error
dt_mae = np.mean(np.absolute((y_test - pred)))

## MSE mean square error
dt_mse = np.mean((y_test - pred)**2)

## RMSE root mean square error
dt_rmse = np.sqrt(np.mean((y_test - pred)**2))

Random Forest

In [ ]:
# train model
model = RandomForestRegressor().fit(X_train, y_train)

# test model/scoring
pred = model.predict(X_test)

# evaluate model
## MAE mean absolute error
rf_mae = np.mean(np.absolute((y_test - pred)))

## MSE mean square error
rf_mse = np.mean((y_test - pred)**2)

## RMSE root mean square error
rf_rmse = np.sqrt(np.mean((y_test - pred)**2))

In [ ]:
row = [["linear regression",ln_mae,ln_mse,ln_rmse], ["decision tree",dt_mae,dt_mse,dt_rmse], ["random forest",rf_mae,rf_mse,rf_rmse]]
data = pd.DataFrame(row,columns=["model","MAE","MSE","RMSE"])
data

               model       MAE       MSE      RMSE
0  linear regression  1.966792  7.698703  2.774654
1      decision tree  2.471429  9.610000  3.100000
2      random forest  2.009429  8.816487  2.969257

Linear regression seems to have the best result.